@model ApiDto

<h3>API @Model.Name</h3>

<div class="card">
    <div class="card-body row col-6">
        <table class="table table-bordered">
            <tr>
                <th>Name</th>
                <td>@Model.Name</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>@Model.Url</td>
            </tr>
        </table>
        @if (Model.Endpoints.Any()) {
            <table class="table table-bordered">
                <tr>
                    <th colspan="3">Endpoints</th>
                </tr>
                @foreach (var endpoint in Model.Endpoints) {
                    <tr>
                        <td>@endpoint.Name</td>
                        <td>@endpoint.HttpMethod</td>
                    </tr>
                }
            </table>
        }
    </div>
    <div class="card-footer">
        <a asp-action="Index" class="btn btn-secondary">Back</a>
    </div>
</div>
